<!-- 수정하고 삭제할 수 있는 페이지 -->
{% extends 'blog/base.html' %}
{% block content %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">제목 : {{ post.title }}</h2>
        <hr class="divider" />
        <p>작성 일자 및 시간 : {{ post.pub_date }}</p>
        <p>글쓴이 : {{post.writer}}</p>
        <p>내용 : {{post.body}}</p>
        <!-- form과 관련된 view 호출 -->
        <a href = "{% url 'edit' post.id %}">수정하기</a>
        <!-- form과 관련된 view 호출 -->
        <a href="{% url 'delete' post.id %}">삭제하기</a>
        <br>
        <br>
        <br>
        {% for comment in post.comments.all %}
            <p>{{comment.text}}</p>
        {% endfor %}
        <form method="POST" action="{% url 'detail' post.id %}">
            {% csrf_token %}
            <p>{{ form.as_p }}</p>
            <input type="submit" value="submit">
        </form>
    </div>
</section>
{% endblock %}